header {
  font-size: 40px;
  text-align: center;
  padding: 25px;
}

.btn {
  margin-top: 20px;
  border: 3px solid red;
}

.row {
  text-align: center;
}

.scores {
  margin: -auto;
  margin-left: -auto;
  padding-left: 10px;
}

.timer {
  /* margin-right: 100px; */
  float: right;
  padding-right: 10px;
}
