header {
  font-size: 40px;
  text-align: center;
  padding: 25px;
}

.btn {
  margin-top: 20px;
  /* width: 150px; */
}

.row {
  text-align: center;
}

.scores {
  margin: -auto;
  margin-left: -auto;
  padding-left: 10px;
}

#time {
  /* margin-right: 100px; */
  float: right;
  padding-right: 10px;
}

#quiz-container {
  margin-top: 30px;
}

h3 {
  margin-top: 40px;
}
